#myTable input {
    border: 0;
    background: transparent;
}

.logo {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}
 
tr:nth-child(odd) {background-color: #9999ff;}
th {
    color: #ffffff;
    background-color: #9999ff;
}

tr.spaceUnder>th {
  padding-bottom: 1em;
  border-bottom: 3px solid #000;
}